<div class="wrap">
  <section>
    <div class="inner">
      <h2 class="page-title">マイページ</h2>
      <div class="form-box overflow">
        <ul class="mypage-list">
          <li><a href="/shop/customer/orders">購入履歴</a></li>
          <li><a href="/shop/customer/favorites">お気に入り一覧</a></li>
          <li><a href="/shop/customer/edit">会員情報の確認・変更</a></li>
          <li><a href="/shop/customer/shipping_addresses">お届け先情報の確認・変更</a></li>
          <li><a href="/shop/customer/password/edit">パスワード変更</a></li>
          <li><a href="/shop/customers/sign_out">ログアウト</a></li>
        </div>
      </div>
    </div>
  </section>
</div>
