{% content_for meta_description %}mixtapeは10代~20代のユニセックス向けアパレルブランドのオンラインショップです。スポーツMIXファッションを中心に豊富なアイテムを取り揃えております。{% endcontent_for %}

{% content_for meta_keywords %}mixtape,アパレル,ファッション,スポーツMIX{% endcontent_for %}

{% content_for title %}プライバシーポリシー | ユニセックス向けスポーツMIXファッションブランド mixtape (ミックステープ){% endcontent_for %}

{{ 'shop/info' | javascript_include_tag }}

<div class="wrap about">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">HOME</a></li>
      <li>プライバシーポリシー</li>
    </ul>
    <h1>
      <span>Privacy policy</span>
      プライバシーポリシー
    </h1>
    <table class="info-table">
      <tbody>
        {% for privacy in privacies %}
          <tr>
            <th>{{ privacy.title }}</th>
            <td>{{ privacy.text }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
