{{ 'shop/customer/orders' | javascript_include_tag }}

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
購入履歴一覧｜
{% endcontent_for %}

<div class="wrap">
  <section class="cart">
    <div class="inner">
      <h2 class="page-title">購入履歴</h1>
        {% if orders == empty %}
          <p>購入履歴はありません。</p>
        {% else %}
          <table class="table-cart">
            <tr class="line">
              <th>購入日</th>
              <th>購入番号</th>
              <th></th>
            </tr>
            {% for order in orders %}
              <tr>
                <td>{{ order.completed_at | date: '%Y/%m/%d' }}</td>
                <td>{{ order.number }}</td>
                <td><center><a class="refresh" href="/shop/customer/orders/{{ order.number }}">詳細</center></td>
              </tr>
            {% endfor %}
          </table>
        {% endif %}
    </div>
  </section>
</div>
