  <!-- header -->
  <header>
    <!-- nav & header mobile & ipad -->
    <div class="mobile ipad">
      <nav class="nav-mobile">
        <p class="nav-mobile-title">アイテムを探す</p>
        <p class="nav-mobile-gender-w">WOMEN<img src="img/parts/plus.png" class="nav-mobile-plus-w"><img src="img/parts/minus.png" class="nav-mobile-minus-w"></p>
        <div class="nav-mobile-women">
          <ul>
            <li><a href="#">NEW</a></li>
            <li><a href="#">BRANDS</a></li>
            <li><a href="#">FASHION</a></li>
            <li><a href="#">SHOES</a></li>
            <li><a href="#">BAGS</a></li>
            <li><a href="#">ACCESSORIES</a></li>
            <li><a href="#">JEWELLERY</a></li>
            <li><a href="#" class="text-red">SALE</a></li>
            <li><a href="#">ABOUT US</a></li>
          </ul>
        </div>
        <p class="nav-mobile-gender-m">MEN<img src="img/parts/plus.png" class="nav-mobile-plus-m"><img src="img/parts/minus.png" class="nav-mobile-minus-m"></p>
        <div class="nav-mobile-men">
          <ul>
            <li><a href="#">MEN NAV</a></li>
            <li><a href="#" class="text-red">SALE</a></li>
            <li><a href="#">ABOUT US</a></li>
          </ul>
        </div>
      </nav>
      <div class="header-inner-mobile">
        <img src="img/parts/menu_stack.png" class="toggle-mobile open">
        <a href=""><img src="img/parts/cart.png" class="cart-mobile"></a>
        <a href=""><img src="img/parts/signup.png" class="signup-mobile"></a>
        <h1><a href="/"><img src="img/parts/whitecube_logo.png" alt="" class="logo-mobile"></a></h1>
      </div>
      <div class="search-area-mobile">
        <input type="text" name="" id="" placeholder="ブランド名、キーワードを入力">
      </div>
      <div class="gender-pick-area-mobile">
        <ul>
          <li class="women-mobile"><a href="" class="active">レディース</a></li>
          <li class="men-mobile"><a href="" class="">メンズ</a></li>
        </ul>
      </div>
    </div>
    <!-- nav & header mobile & ipad -->
    <!-- nav & header pc -->
    <div class="pc">
      <div class="header-inner-pc">
        <h1><a href="/"><img src="img/parts/whitecube_logo.png" alt="" class="logo-pc"></a></h1>
        <ul class="header-main-pc">
          <li class="gender-pick-pc"><span class="women-pc">WOMEN</span><img src="img/parts/arrow9.png" class="gender-pick-pc-arrow-w"></li>
          <li class="gender-pick-pc"><span class="men-pc">MEN</span><img src="img/parts/arrow9.png" class="gender-pick-pc-arrow-m"></li>
          <li class="cart-pc"><a href="cart_maki.html"><img src="img/parts/cart.png"></a><span class="number">14</span></li>
          <li class="login-pc"><a href="">LOGIN</a></li>
          <li class="search-pc"><input type="text" name="" id=""></li>
        </ul>
      </div>
      <nav class="nav-pc">
        <div class="nav-pc-women">
          <ul class="nav-pc-main">
            <li><a href="#">NEW</a></li>
            <li><a href="#">BRANDS</a>
              <div>
                <ul>
                  <li><a href="">CHANEL1</a></li>
                  <li><a href="">CHANEL2</a></li>
                  <li><a href="">CHANEL3</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">FASHION</a>
              <div>
                <ul>
                  <li><a href="">fashion1</a></li>
                  <li><a href="">fashion2</a></li>
                  <li><a href="">fashion3</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">SHOES</a></li>
            <li><a href="#">BAGS</a></li>
            <li><a href="#">ACCESSORIES</a></li>
            <li><a href="#">JEWELLERY</a></li>
            <li><a href="#" class="text-red">SALE</a></li>
            <li><a href="#">ABOUT US</a></li>
          </ul>
        </div>
        <div class="nav-pc-men">
          <ul class="nav-pc-main">
            <li><a href="#">MEN NAV</a></li>
            <li><a href="#" class="text-red">SALE</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- nav & header pc -->
  </header>
  <!-- header -->