{{ 'shop/info' | javascript_include_tag }}

{% content_for meta_description %}mixtapeは10代~20代のユニセックス向けアパレルブランドのオンラインショップです。スポーツMIXファッションを中心に豊富なアイテムを取り揃えております。{% endcontent_for %}

{% content_for meta_keywords %}mixtape,アパレル,ファッション,スポーツMIX{% endcontent_for %}

{% content_for title %}利用規約 | ユニセックス向けスポーツMIXファッションブランド mixtape (ミックステープ){% endcontent_for %}

<div class="wrap about">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="/">HOME</a></li>
      <li>ご利用規約</li>
    </ul>
    <h1>
      <span>Terms of service</span>
      ご利用規約
    </h1>
    <table class="info-table">
      <tbody>
        {% for customer_term in customer_terms %}
          <tr>
            <th>{{ customer_term.title }}</th>
            <td>{{ customer_term.text }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


  </div>
</div>
